run = "cd slate && npm install && npm run dev"
entrypoint = "slate/src/app/page.tsx"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd slate && npm run build && npm run start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
